# ======================================
# Django Settings
# ======================================


DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-change-in-production

# ======================================
# Email Settings
# ======================================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com # type: ignore
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com

# ======================================
# JWT Settings
# ======================================
ACCESS_TOKEN_LIFETIME_MINUTES=30
REFRESH_TOKEN_LIFETIME_DAYS=1
BLACKLIST_AFTER_ROTATION=True

# ======================================
# OTP Settings
# ======================================
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

# ======================================
# Redis Settings
# ======================================
REDIS_URL=redis://127.0.0.1:6379/1

