{% extends "base.html" %}

{% block content %}

<h2>Notifications 🔔</h2>

<ul id="notification-list"></ul>

<script type="text/javascript">
        const protocol = window.location.protocol === "https:" ? "wss" : "ws";
        const url = `${protocol}://${window.location.host}/ws/notifications/`;

        const chatSocket = new WebSocket(url);

        chatSocket.onopen = function () {
            console.log("WebSocket connected");
        };

        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log("Data:", data);
        };

        chatSocket.onerror = function (e) {
            console.error("WebSocket error:", e);
        };

        chatSocket.onclose = function () {
            console.warn("WebSocket closed");
        };
</script>

{% endblock %}